#menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #F5EFEA;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 100vh;
  }
  
  .menu-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .menu-item p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #ff7f50;
    margin-top: 10px;
  }
  